<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css" class="css">
</head>
<body>
    <main>
        <form method="post", action="/register">
            <h1>Register Here</h1>
            <input name="name", placeholder="name"></input>
            <input name="email", placeholder="email:@gmail.com"></input>
            <input type="password", name="password", placeholder="xyz" ></input>
            <button type="submit">Sign Up</button>
        </form>
    </main>
    
    
</body>
</html>